backend:
  name: git-gateway
  branch: main

media_folder: "imagens"
public_folder: "/imagens"

collections:
  - name: "cardapio"
    label: "Cardápio Completo"
    files:
      - file: "content/produtos.json"
        label: "Categorias de Produtos"
        name: "produtos_config"
        fields:
          - label: "Lista Geral de Produtos"
            name: "produtos"
            widget: "list"
            summary: '{{title}} ({{categoria}})'
            fields:
              - { label: "Nome", name: "title", widget: "string" }
              - { 
                  label: "Categoria", 
                  name: "categoria", 
                  widget: "select", 
                  options: ["burger", "bebida", "promocao"] 
                }
              - { label: "Ingredientes/Descrição", name: "ingredientes", widget: "text" }
              - { label: "Imagem", name: "image", widget: "image" }
              - { label: "Preço Único", name: "price", widget: "number", value_type: "float" }

  - name: "configuracoes"
    label: "Configurações da Loja"
    files:
      - file: "content/status.json"
        label: "Status da Loja"
        name: "status_loja"
        fields:
          - { label: "Loja Aberta?", name: "aberto", widget: "boolean", default: true }
          - { label: "Ativar Promoção no App Mydi?", name: "promocaoAtiva", widget: "boolean", default: false }
          - { label: "Mensagem Fechado", name: "mensagem", widget: "string" }
